{% extends "base.html" %}

{% block title %}Add Equipment{% endblock %}

{% block content %}

<style>
    .fixed-height-image {
        height: 300px;
        overflow: hidden;
    }

    .fixed-height-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #map_view {
        height: 300px;
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <!-- Step 1 -->
             
            <div class="step1">
                {% set stage1 = parcel_req_stages | selectattr('stage_number', '==', 1) | list %}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="row">
                                <div>State 1 : Application Submitted 
                                    <!-- <span class="badge text-bg-dark">{{stage1[0].stage_status}}</span> -->
                                    {% if stage1[0].stage_status == 'pending' %}
                                    <span class="badge text-bg-dark">Pending Review</span>
                                    {% elif stage1[0].stage_status == 'approved' %}
                                    <span class="badge text-bg-dark">Approved</span>
                                    {% elif stage1[0].stage_status == 'rejected' %}
                                    <span class="badge text-bg-danger">Declined</span>
                                    {% endif %}
                                </div>
                                <div><small class="text-muted">You have submitted your application</small></div>
                                
                                <small class="text-muted">Application Submitted On : {{active_request_tenant[0].created_at}}</small>
                                </div>

                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">                                    
                                    <div class="col-md">
                                        <small class="text-muted">Intended Use</small>
                                        <div>{{ active_request_tenant[0].farming_type_name | default('-', true) }}</div>
                                    </div>
                                    <div class="col-md">
                                        <small class="text-muted">Desired Lease Duration</small>
                                        <div>{{ active_request_tenant[0].duration_years | default('-', true) }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mt-2">
                                        <small class="text-muted">Farming Experience</small>
                                        <div>{{ active_request_tenant[0].experience | default('-', true) }}</div>
                                    </div>
                                    <div class="mt-2">
                                        <small class="text-muted">Additional Information</small>
                                        <div>{{ active_request_tenant[0].additional_notes | default('-', true) }}</div>
                                    </div>
                                </div>
                                {% if stage1[0].stage_status == 'approved'%}
                                <div class="card p-3 mt-3 bg-light">
                                    Next Step: Site Inspection
                                </div>

                                {% elif stage1[0].stage_status == 'rejected'%}
                                <div class="card p-3 mt-3 bg-light">
                                    Unfortunately your application has been rejected by the land owner
                                </div>
                                {% else %}
                                <div class="row mt-4">
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-body">
                                            <p class="card-text">Land Owner will review your application and get back to you</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stage 2 -->
            <div class="step2 mt-4">
                {% set stage2 = parcel_req_stages | selectattr('stage_number', '==', 2) | list %}
                {% set status2 = (stage2[0].stage_status if stage2 and stage2[0] else 'locked') %}
                <div class="accordion" id="applicationStage2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" {% if status2=='locked' %}disabled{% endif %}>
                                <div class="row">
                                    <div>State 2 : Site Inspection
                                        {% if status2 == 'pending' %}
                                        <span class="badge text-bg-dark">Pending Review</span>
                                        {% elif status2 == 'approved' %}
                                        <span class="badge text-bg-dark">Approved</span>
                                        {% elif status2 == 'rejected' %}
                                        <span class="badge text-bg-danger">Declined</span>
                                        {% else %}
                                        <span class="badge text-bg-danger">Locked</span>
                                        {% endif %}

                                    </div>
                                    <div><small class="text-muted">Land Owner will let you know the site inspection dates</small></div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseTwo"
                            class="accordion-collapse collapse {% if stage1[0].stage_status == 'approved' %}show{% endif %}"
                            aria-labelledby="headingTwo" data-bs-parent="#applicationStage2">
                            <div class="accordion-body">
                                {% if site_inspection_data %}
                                <div class="card mt-2 p-3">
                                    {% if status2=='approved'%}
                                    <div class="row">
                                        <div>Inspection Completed On</div>
                                        <div class="">{{site_inspection_data[0].scheduled_date | dateformat}}</div>
                                        <small class="text-muted">{{site_inspection_data[0].scheduled_start_time}} -
                                            {{site_inspection_data[0].scheduled_end_time}}</small>
                                        <small class="text-muted">Inspection Note</small>
                                        <div>{{site_inspection_data[0].inspector_notes}}</div>
                                    </div>
                                    <div class="card p-3 mt-3 bg-light">
                                        Next Step : Document verification. Please upload your documents
                                    </div>
                                    {% elif status2 == 'pending' %}
                                        <div><i class="bi bi-clipboard-check-fill"></i> Inspection Scheduled</div>
                                        <div>Inspection Date and Time</div>
                                        <div class="">{{site_inspection_data[0].scheduled_date | dateformat}}</div>
                                        <small class="text-muted">{{site_inspection_data[0].scheduled_start_time}} -
                                            {{site_inspection_data[0].scheduled_end_time}}</small>
                                    {% else %}
                                    <div class="row">
                                        <small class="text-muted">Inspection Note</small>
                                        <div>{{site_inspection_data[0].inspector_notes}}</div>
                                    </div>
                                    <div>Application declined</div>
                                    {% endif %}
                                </div>
                                {% else %}
                                <div class="card p-3 mt-3 bg-light">
                                    The landowner will confirm the site visit date shortly.
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stage 3 -->
            <div class="step3 mt-4">
                {% set stage3 = parcel_req_stages | selectattr('stage_number', '==', 3) | list %}
                {% set status3 = (stage3[0].stage_status if stage3 and stage3[0] else 'locked') %}
                <div class="accordion" id="applicationStage3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" {% if status3=='locked' %}disabled{% endif %}>
                                <div class="row">
                                    <div>State 3 : Document Verification
                                        {% if status3 == 'pending' %}
                                        <span class="badge text-bg-dark">Pending Review</span>
                                        {% elif status3 == 'approved' %}
                                        <span class="badge text-bg-dark">Approved</span>
                                        {% elif status3 == 'rejected' %}
                                        <span class="badge text-bg-danger">Declined</span>
                                        {% else %}
                                        <span class="badge text-bg-danger">Locked</span>
                                        {% endif %}
                                    </div>
                                    <div><small class="text-muted">Land Owner will review these documents</small></div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseThree"
                            class="accordion-collapse collapse {% if status2 == 'approved' %}show{% endif %}"
                            aria-labelledby="headingThree" data-bs-parent="#applicationStage3">
                            <div class="accordion-body">
                                {% if verification_docs%}
                                <div class="row">
                                    {% for doc in verification_docs %}
                                    <div class="card rounded shadow-sm mt-3">
                                        <div class="card-body bg-light">
                                            {{doc.document_type | format_status}} : <a href="{{ url_for('static', filename=doc.file_path) }}" download>Download File</a>
                                                {% if doc and doc.verified_by %}
                                                    <i class="bi bi-check-circle-fill" style="color:green"></i>
                                                {% else %}
                                                    <i class="bi bi bi-exclamation-lg" style="color:rgb(215, 0, 0)"></i>
                                                {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="card mt-2 p-3">
                                    Please upload your documents
                                </div>
                                <div class="row">
                                    <form method="POST" enctype="multipart/form-data"
                                        action="{{ url_for('land.submit_document_for_verification_as_tenant', parcel_req_id=active_request_tenant[0].application_id) }}">
                                        {{ document_verification_form.hidden_tag() }}
                                        <div class="card my-3 p-3">
                                            Identity Document {{document_verification_form.land_verification_identity_doc(class="form-control" + (' is-invalid' if document_verification_form.land_verification_identity_doc.errors else '')) }}
                                        </div>    
                                        <div class="card my-3 p-3">
                                            Financial Document {{document_verification_form.land_verification_financial_doc(class="form-control")}}
                                        </div>    
                                        <div class="card my-3 p-3">
                                            Reference {{document_verification_form.land_verification_farming_ref_doc(class="form-control")}}
                                        </div>                                                
                                        {{document_verification_form.land_doc_verification_submit_btn(class="form-control btn btn-primary")}}
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Stage 4 -->
            <div class="step4 my-4">
                {% set stage4 = parcel_req_stages | selectattr('stage_number', '==', 4) | list %}
                {% set status4 = (stage4[0].stage_status if stage4 and stage4[0] else 'locked') %}
                <div class="accordion" id="applicationStage4">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" {% if status4 =='locked' %}disabled{% endif %}>
                                <div class="row">
                                    <div>State 4 : Agreement Signing
                                        {% if status4 == 'pending' %}
                                        <span class="badge text-bg-dark">Pending Review</span>
                                        {% elif status4 == 'approved' %}
                                        <span class="badge text-bg-dark">Approved</span>
                                        {% elif status4 == 'rejected' %}
                                        <span class="badge text-bg-danger">Declined</span>
                                        {% else %}
                                        <span class="badge text-bg-danger">Locked</span>
                                        {% endif %}
                                    </div>
                                    <div><small class="text-muted">Sent signed document to the land owner</small></div>
                                </div>
                            </button>
                        </h2>
                        
                        <div id="collapseFour" class="accordion-collapse collapse {% if status4 == 'approved' %}show{% endif %}"
                            aria-labelledby="headingFour" data-bs-parent="#applicationStage4">
                            <div class="accordion-body">
                                {% if not proposal_data %}
                                <div class="card p-3"> Land Owner will send you the agreement proposal soon</div>
                                {% else%}
                                <div>
                                    {% for proposal in proposal_data %}
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="card p-3">
                                                <div>Duration : {{ proposal.lease_from | date_between(proposal.lease_to)}}</div>
                                                <div class="d-flex">
                                                    <div class="col-md-6">
                                                        <small class="text-muted">Lease From</small>
                                                        <div class="text-muted">{{proposal.lease_from | dateformat}}</div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small class="text-muted">Lease To</small>
                                                        <div class="text-muted">{{proposal.lease_to | dateformat}}</div>
                                                    </div>
                                                </div>
                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="text-muted">Lease Amount</small>
                                            <div>{{proposal.rent}}</div>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-muted">Leasing Modal</small>
                                            <div>{{proposal.pricing_modal}}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="text-muted">Security Deposit</small>
                                            <div>{{proposal.security_deposit}}</div>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-muted">Intended Use</small>
                                            <div>{{proposal.intended_use}}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <small class="text-muted">Notes</small>
                                            <div>{{proposal.notes}}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="card rounded shadow-sm mt-3">
                                                <div class="card-body bg-light">
                                                    Agreement Proposal :
                                                    <a href="{{ url_for('static', filename=proposal.proposed_agreement_doc) }}"
                                                        download>Download
                                                        File</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                        <div class="mt-2">
                                            {% if not proposal_data[0].signed_agreement_doc %}
                                            <form method="POST" action="{{ url_for('land.submit_signed_agreement_as_tenant', parcel_req_id=active_request_tenant[0].application_id) }}" enctype="multipart/form-data">
                                                {{agreement_sign_form.hidden_tag()}}
                                                <div class="row d-flex flex-column">
                                                    <div class="col-md">
                                                        <small class="text-muted">Signed Agreement</small>
                                                        {{agreement_sign_form.land_agreement_sign_doc(class="form-control")}}
                                                    </div>
                                                    <div class="col-md mt-4">
                                                        {{agreement_sign_form.land_agreement_proposal_btn(class="btn btn-primary")}}
                                                    </div>
                                                </div>
                                            </form>
                                            {% else %}
                                            <div>
                                                <div class="card rounded shadow-sm mt-3">
                                                    <div class="card-body bg-light">
                                                        Signed Proposal :
                                                        <a href="{{ url_for('static', filename=proposal_data[0].signed_agreement_doc) }}" download>Download
                                                            File</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if active_request_tenant[0].is_leased == 1 %}
                                            <div class="card p-3 mt-3" style="background-color: #93cea9;">
                                                <div><i class="bi bi-rocket-takeoff fs-5"></i> Congratulations! The lease is now active and ready to begin.</div>
                                            </div>
                                            {% endif %}

                                        </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card p-3">
                <div class="fs-5 mb-2">{{contact_details[0].land_parcel_name}}</div>
                <div><i class="bi bi-person-lines-fill"></i> Land Owner info</div>
                <div>{{contact_details[0].owner_first_name}} {{contact_details[0].owner_last_name}}</div>
                <div class="text-muted">{{contact_details[0].owner_email}}</div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/leaflet_map.js') }}"></script>
<script src="{{ url_for('static', filename='js/flash.js') }}"></script>

{% endblock %}